@import "tailwindcss";

:root {
  /* Primary Colors */
  --primary-color: hsl(258, 90%, 66%);
  --secondary-color: hsl(218, 95%, 67%);
  --accent-color: hsl(254, 100%, 73%);

  /* Backgrounds */
  --primary-bg: #ffffff;

  /* Cards */
  --card-bg: #ffffffac;
  --card-bg-hover: #f8f9ff;
  --card-border: #e4e7f2;
  --skeleton-bg: #eceff6;

  /* Text */
  --text-primary: #0f172b;
  --text-secondary: #314158;
  --text-tertiary: #62748e;

  /* Shadows */
  --shadow-sm: 0 2px 10px rgba(30, 41, 59, 0.06);
  --shadow-md: 0 8px 24px rgba(30, 41, 59, 0.1);
  --shadow-lg: 0 20px 50px rgba(30, 41, 59, 0.16);

  --shadow-glow: 0 0 30px rgba(124, 92, 255, 0.25);
}

@theme {
  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);

  --color-accent-color: var(--accent-color);

  --color-primary-bg: var(--primary-bg);

  --color-card-bg: var(--card-bg);
  --color-card-bg-hover: var(--card-bg-hover);
  --color-card-border: var(--card-border);

  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-tertiary: var(--text-tertiary);

  /* Overrides the default font-sans with Geist Sans */
  --font-sans: var(--font-geist-sans), sans-serif;

  /* Creates a brand new utility: font-baloo2 */
  --font-baloo2: var(--font-baloo-2), sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--primary-bg);
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Utilities */

.glass-panel {
  background: var(--card-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--card-border);
}

.typing-cursor {
  position: relative;
}

.typing-cursor::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 3px;
  width: 1px;
  height: 1.1em;
  background: currentColor;
  opacity: 0.85;
  animation: blinkCursor 0.9s steps(2, start) infinite;
}

@keyframes blinkCursor {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.carousel-mask {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 16px,
    black calc(100% - 16px),
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 16px,
    black calc(100% - 16px),
    transparent 100%
  );
}
